extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    #canvas
    .content
      h1
        span.text-plane Cool effect on scroll
      h2
        span.text-plane
          | Rendering text
          br
          | to WebGL
      - for (let i = 0; i < 10; i++) {
        .content__left.text-block
          p
            span.text-plane
              | This is an example of how we can render whole blocks of text to WebGL thanks to curtains.js and the TextTexture class.
          p
            span.text-plane
              | A WebGL plane is created for all elements that have a "text-plane" class and their text contents are drawn inside a 2D canvas, which is then used as a WebGL texture.
        .content__middle.text-block
          p
            span.text-plane
              | We're using an additional shader pass to add a cool effect on scroll that makes you feel like the content is actually dragged.
          p
            span.text-plane
              | Try to scroll down to see what happens!
        .content__right.text-block
          p
            span.text-plane
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a dolor posuere nisi tempus rhoncus. Curabitur venenatis velit a tellus porttitor, sed efficitur ipsum volutpat. Nunc ante ante, convallis in commodo eget, semper ac ex. Fusce lobortis risus vel nisl interdum imperdiet. Nulla facilisi
          p
            span.text-plane
              | Cras hendrerit iaculis est at vestibulum. Integer tincidunt mi id metus mollis, in fermentum odio sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus in efficitur diam.
      - }

block modals
